[Desktop Entry]
Name=Deactivate lock screen
Comment=Deactivate the Plasma lock screen in the live session
Type=Application
Icon=system-lock-screen
Exec=sh -c "qdbus org.kde.screensaver /ScreenSaver SetActive false"
